@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: linear-gradient(320deg, pink,rgb(228, 100, 177),rgb(226, 64, 94));
    display: flex;
    font-family:'Pacifico', cursive;
    font-display: swap;
    height: inherit;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    

}

.ribbon{
    margin-left: 50px;
    z-index: -2;
}

.maincontainer{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(232, 21, 91, 0.377);
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 1px 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    backdrop-filter: blur (4px);
    -webkit-backdrop-filter: blur(4px);
    background: linear-gradient(320deg, rgba(231, 180, 207, 0.586),rgb(241, 152, 167),rgb(241, 11, 134));
    border: 1px solid rgb(175, 103, 115);
    flex-basis: 400px;
    height: 700px;
    padding:20px 35px;
    width: 100vw;
    height: auto;
    
}
.logo{
display: flex;
margin-bottom: 6%;
align-items: center;
justify-content: center;
}

.logo h1{
    margin:6%;
    
}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: pink;
    border: 1px solid rgba(243, 239, 240, 0.996);
    border-radius: 16px;
    box-shadow: 0 4px 40px rgb(35,35,35, 0.1);
    color: #232323;
    font-size: 40px;
    padding: 20px ;
    text-align: right;
    width: 326px;
    background-image: url(ribbon.png);
    background-repeat: no-repeat;
    background-size: 20%;
    

    

}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;

}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: rgb(255, 0, 106);
    text-shadow: 3px 1px 3px rgb(0, 0, 0);
    flex-basis: 20%;
    font-size: 30px;
    height: 65px;
    background-image: url(pngegg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 900;
    background-color: rgb(244, 219, 223);
    
    
}

.calc-button:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color:#fff;
    background: rgb(237, 89, 114);
}

.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;

}

.calc-button:hover{
    background-color: inherit;
}

.calc-button:active{
    color: pink;
}

.triple{
    flex-basis:47%;
}

.double{
    flex-basis:47%;
}


#mod{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color:#fff;
    background: rgb(237, 89, 114);
}
